header { 
    background-color: #AAE8DF; 
    text-shadow:0 0 5px #000000, 0 0 10px #000000, 0 0 20px #666666, 0 0 30px #141414;
    font-family: Times, serif; 
    text-align: right; 
    padding: 1px; 
} 
.bi {
    color: white;
    margin-left: 20px;
    margin-right: 20px;
}
.logo{
    width: 100px;
    height: auto;
}
.inicio{
    height: 100vh;
    background-image: url('../imagenes/banner.jpg');
     background-size: cover;
}
.inicio-titulo{
    color: whitesmoke;
    margin-top: 60%;
    text-shadow: 4px 4px 6px #ffffff;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    font-weight: bold;
}
.navbar-brand{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    color: white;
}
.nav-item a{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    color: white;

}
.collapse.navbar-collapse.me-5{
    font-family: 'Times New Roman', Times, serif;
}
.menu{
    color: black;
    background-color: #AAE8DF;
    padding: 50px 0;
}
.postres{
    color: black;
    background-color: #AAE8DF;
    padding: 50px 0;
}
.bebidas{
    color: black;
    background-color: #AAE8DF;
    padding: 50px 0;
}
.ubicaciones{
    color: black;
    background-color: #AAE8DF;
    padding: 50px 0;
}
.logoo{
    width: 200px;
    height: 200px;
    margin: 5px;
    border-radius: 50%;
}
.text-center{
    font-family: 'Times New Roman', Times, serif;
}
.text-center h4{
    font-weight: bold;
    font-size: 1.2rem;
}
.carousel-inner .carousel-item{
    width: 50%;    
    height: 50%;
    padding: 5px;
    margin-left: 320px;
    margin-right: 300px;
}
.text-center .bi{
font-size: 40px;
    color: #fff;
    text-shadow:0 0 5px #000000, 0 0 10px #000000, 0 0 20px #666666, 0 0 30px #141414;
}
.col .progress{
    text-shadow:0 0 5px #000000, 0 0 10px #000000, 0 0 20px #666666, 0 0 30px #141414;
    }
.roww{
    color: rgb(0, 0, 0);
    background-color: #AAE8DF;
    padding-left: 100px;
    font-family: 'Times New Roman', Times, serif;
}
.col-122 .btn{
    color:white;
    text-shadow:0 0 5px #000000, 0 0 10px #000000, 0 0 20px #666666, 0 0 30px #141414;
}
footer { 
    background-color: black; 
    font-family: Times, serif; 
    text-align: center; 
    color: white; 
    padding: 10px; 
}
footer a { 
    color: white; 
    text-decoration: none; 
    margin: 0 10px; 
}
footer i{
      text-shadow:0 0 5px #000000, 0 0 10px #000000, 0 0 20px #666666, 0 0 30px #141414;
}
.col ul li{
     list-style: none;
     text-align: left;
}
